<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="row">
      <div class="col-md-6">
<table class="table table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
  {{ range .x1 }}
    <th>
      {{ . }}
    </th>
  {{ end }}
    </tr>
  </thead>
  {{ range .y1 }}
  <tr>
    <th>
      {{ . }}
    </th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  {{ end }}
  </tr>

</table>
      </div>
      <div class="col-md-6">
<table class="table table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
  {{ range .x2 }}
    <th>
      {{ . }}
    </th>
  {{ end }}
    </tr>
  </thead>
  {{ range .y2 }}
  <tr>
    <th>
      {{ . }}
    </th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  {{ end }}
  </tr>

</table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
<table class="table table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
  {{ range .x3 }}
    <th>
      {{ . }}
    </th>
  {{ end }}
    </tr>
  </thead>
  {{ range .y3 }}
  <tr>
    <th>
      {{ . }}
    </th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  {{ end }}
  </tr>

</table>
      </div>
      <div class="col-md-6">
<table class="table table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
  {{ range .x4}}
    <th>
      {{ . }}
    </th>
  {{ end }}
    </tr>
  </thead>
  {{ range .y4 }}
  <tr>
    <th>
      {{ . }}
    </th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  {{ end }}
  </tr>

</table>
      </div>
    </div>
  </body>
</html>
